* {
        margin: auto 0;
}
#grad1 {
  height: 100%;
  background-color: #01162E; /* For browsers that do not support gradients */
  background-image: linear-gradient(#01162E, #01426D); /* Standard syntax (must be last) */
}
.svg {
    width: 100%;
    height: auto;
}
.svg path {
    fill: #D3D3D3;
}

/*Flames*/
.building-flames path {
    fill: #ff0000;
}

/*Floating UFOS and building*/
@keyframes ufo-building-float {
  0%   {transform: translateY(0)}
  25%  {transform: translateY(-25px)}
  75%  {transform: translateY(25px)}
  100% {transform: translateY(0)}
}

.ufo-building-float {
  animation: ufo-building-float 5s linear infinite;
}

/*UFOs fading in and out*/
@keyframes ufo-big {
  0%        {opacity: 0}
  15%, 70%  {opacity: 1}
  85%, 100% {opacity: 0}
}

@keyframes ufo-small {
  0%, 10%  {opacity: 0}
  25%, 85% {opacity: 1}
  100%     {opacity: 0}
}

.ufo-big {
  animation: ufo-big 5s ease infinite;
}

.ufo-small {
  animation: ufo-small 5s ease infinite;
}

/*Blinking UFO lights*/
@keyframes ufo-big-lights {
  0%        {fill: #D3D3D3}
  20%       {fill: #fbcb43}
  40%, 100% {fill: #D3D3D3}
}

.ufo-big-lights-light {
  animation: ufo-big-lights 2.5s ease infinite;
}

/*Delay animation of each light*/
.ufo-big-lights--2 {animation-delay: .2s}
.ufo-big-lights--3 {animation-delay: .4s}
.ufo-big-lights--4 {animation-delay: .6s}
.ufo-big-lights--5 {animation-delay: .8s}

/*Flame animation*/
@keyframes building-flames {
  0%   {transform: scale(1, 1)}
  50%  {transform: scale(1, 1.1)}
  100% {transform: scale(1, 1)}
}

.building-flames path {
  fill: #d84437;
  animation       : building-flames 5s ease infinite;
  transform-origin: center top;
}